The Metanorma Snap package fails to compile the example

Following the instructions provided the compilation of the example fails.
OS: Debian GNU/Linux 11 (bullseye)

Commands executed:
```
sudo apt install snapd
sudo snap install metanorma
git clone https://github.com/metanorma/rfc-camelot-holy-grenade.git
/snap/bin/metanorma -t ietf -x html,txt draft-camelot-holy-grenade.adoc

```
Output:

> ~/devel/rfc-camelot-holy-grenade/sources$ /snap/bin/metanorma -t ietf -x html,txt draft-camelot-holy-grenade.adoc 
> [relaton-ietf] ("IETF RFC 8140") fetching...
> [relaton-ietf] ("IETF RFC 8140") found RFC 8140
> [relaton-ietf] ("RFC 2119") fetching...
> [relaton-ietf] ("RFC 2119") found RFC 2119
> [relaton] Grail does not have a recognised prefix
> [relaton-ietf] ("RFC 2635") fetching...
> [relaton-ietf] ("RFC 2635") found RFC 2635
> [relaton-ietf] ("RFC 7990") fetching...
> [relaton-ietf] ("RFC 7990") found RFC 7990
> [relaton-ietf] ("RFC 8174") fetching...
> [relaton-ietf] ("RFC 8174") found RFC 8174
> [relaton] Grail does not have a recognised prefix
> Metanorma XML Style Warning: (XML Line 000246): Hanging paragraph in clause
> Metanorma XML Style Warning: (XML Line 000503): Hanging paragraph in clause
> Metanorma XML Style Warning: (XML Line 000509): Table should have title
> Metanorma XML Syntax: (XML Line 000011:123): character content of element "revision-date" invalid; must be a string matching the regular expression "([\+\-]?\d{4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6]))))?"
> Metanorma XML Syntax: (XML Line 000080:88): attribute "obligation" not allowed here; expected attribute "language", "numbered", "removeInRFC", "script" or "toc"
> Metanorma XML Syntax: (XML Line 000408:7): element "svg" not allowed here; expected the element end-tag or element "audio", "dl", "figure", "fn", "image", "note", "p", "pre", "source" or "video"
> RFC XML: Line 000338:466 element "svg" not allowed here; expected element "artset", "artwork", "iref", "preamble" or "sourcecode" (with xmlns="")
> RFC XML: Line 000657:16 element "figure" incomplete; expected element "artset", "artwork", "iref", "preamble" or "sourcecode"
> /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml(338): Error: Did not expect element svg there, at /rfc/middle/section[4]/section[2]/figure[2]/*[2]
> /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml(338): Error: Element figure has extra content: svg, at /rfc/middle/section[4]/section[2]/figure[2]/*[2]
> /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml(11): Error: Invalid document before running preptool.
> Unable to complete processing /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml
> /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml(338): Error: Did not expect element svg there, at /rfc/middle/section[4]/section[2]/figure[2]/*[2]
> /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml(338): Error: Element figure has extra content: svg, at /rfc/middle/section[4]/section[2]/figure[2]/*[2]
> /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml(11): Error: Invalid document before running preptool.
> Unable to complete processing /home/user/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-grenade.rfc.xml


@cisba thank you for reporting this issue! 

@CAMOBAP can you please help follow up with this? Thanks!

This issue might be relevant to metanorma-ietf. @opoudjis could you have a look? Thanks!

Of course I'm available to work on it.
I need to use it.
:)

On Tue, Jun 6, 2023, 07:12 Ronald Tse ***@***.***> wrote:

> This issue might be relevant to metanorma-ietf. @opoudjis
> <https://github.com/opoudjis> could you have a look? Thanks!
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/metanorma/metanorma/issues/295#issuecomment-1577917722>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AASHMN6FKUVH44DTXWSRUZDXJ235NANCNFSM6AAAAAAYTBWUEU>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


@cisba thank you for being available -- our colleagues @CAMOBAP and @opoudjis will see how to address this issue with you. Thanks!

Yeah, the error is IETF's validator, complaining that whatever Metanorma has come up with, the SVG is not where it expects to see this. This used to work, and it now does not work because IETF has seen fit to change the grammar (again). I'll try to work out what it expects, and whether I can mitigate it.

Obvious initial issue: somehow `svg` is making it into RFC XML, it is not being wrapped by the right tag, `artwork`.

```
~/devel/rfc-camelot-holy-grenade/sources$ cat ../Gemfile 
source "https://rubygems.org"

gem "metanorma-ietf", git: "https://github.com/metanorma/metanorma-ietf", branch: "main"
gem "metanorma-cli"
```

But I still have some problem with dependencies as below.
(Note: I'm using a dedicated virtual machine, without security problem executing sudo)

```
~/devel/rfc-camelot-holy-grenade/sources$ sudo bundle2.7 install
Don't run Bundler as root. Bundler can ask for sudo if it is needed, and
installing your bundle as root will break this application for all non-root
users on this machine.
Fetching https://github.com/metanorma/metanorma-ietf
Fetching gem metadata from https://rubygems.org/.............
Fetching gem metadata from https://rubygems.org/.
Resolving dependencies......
Using rake 13.0.6
Using concurrent-ruby 1.2.2
Using i18n 1.14.1
Using minitest 5.18.0
Using tzinfo 2.0.6
Using activesupport 7.0.5
Using public_suffix 5.0.1
Using addressable 2.8.4
Using faraday-net_http 3.0.2
Using ruby2_keywords 0.0.5
Using faraday 2.7.5
Using connection_pool 2.4.1
Using net-http-persistent 4.0.2
Using faraday-net_http_persistent 2.1.0
Using multi_json 1.15.0
Using algolia 2.3.1
Using arr-pm 0.0.12
Using asciidoctor 2.0.20
Using asciimath 2.0.5
Using htmlentities 4.3.4
Using mini_portile2 2.8.2
Fetching racc 1.6.2
Installing racc 1.6.2 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.7.0/gems/racc-1.6.2/ext/racc/cparse
/usr/bin/ruby2.7 -I /usr/lib/ruby/vendor_ruby -r
./siteconf20230606-2245-1guvfme.rb extconf.rb
mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h

You might have to install separate package for the ruby development
environment, ruby-dev or ruby-devel for example.

extconf failed, exit code 1

Gem files will remain installed in /var/lib/gems/2.7.0/gems/racc-1.6.2 for
inspection.
Results logged to
/var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/gem_make.out

An error occurred while installing racc (1.6.2), and Bundler cannot
continue.
Make sure that `gem install racc -v '1.6.2' --source 'https://rubygems.org/'`
succeeds before bundling.

In Gemfile:
  metanorma-cli was resolved to 1.7.3, which depends on
    metanorma-bipm was resolved to 2.2.11, which depends on
      metanorma-generic was resolved to 2.4.4, which depends on
        metanorma-standoc was resolved to 2.4.5, which depends on
          asciimath2unitsml was resolved to 0.4.3, which depends on
            nokogiri was resolved to 1.14.5, which depends on
              racc
```

So I followed the suggestion...


```
~/devel/rfc-camelot-holy-grenade/sources$ sudo gem install racc -v '1.6.2' --source 'https://rubygems.org/'
Building native extensions. This could take a while...
ERROR:  Error installing racc:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.7.0/gems/racc-1.6.2/ext/racc/cparse
/usr/bin/ruby2.7 -I /usr/lib/ruby/vendor_ruby -r ./siteconf20230606-2607-83jd1s.rb extconf.rb
mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h

You might have to install separate package for the ruby development
environment, ruby-dev or ruby-devel for example.

extconf failed, exit code 1

Gem files will remain installed in /var/lib/gems/2.7.0/gems/racc-1.6.2 for inspection.
Results logged to /var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/gem_make.out

```

Then I installed ruby-dev...

```
~/devel/rfc-camelot-holy-grenade/sources$ sudo apt install ruby-dev
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libgmp-dev libgmpxx4ldbl ruby2.7-dev ruby2.7-doc
Suggested packages:
  gmp-doc libgmp10-doc libmpfr-dev
The following NEW packages will be installed:
  libgmp-dev libgmpxx4ldbl ruby-dev ruby2.7-dev ruby2.7-doc
0 upgraded, 5 newly installed, 0 to remove and 2 not upgraded.
Need to get 4,641 kB of archives.
After this operation, 28.0 MB of additional disk space will be used.
Do you want to continue? [Y/n] y
Get:1 https://deb.debian.org/debian bullseye/main amd64 libgmpxx4ldbl amd64 2:6.2.1+dfsg-1+deb11u1 [338 kB]
Get:2 https://deb.debian.org/debian bullseye/main amd64 libgmp-dev amd64 2:6.2.1+dfsg-1+deb11u1 [643 kB]
Get:3 https://deb.debian.org/debian bullseye/main amd64 ruby2.7-dev amd64 2.7.4-1+deb11u1 [834 kB]
Get:4 https://deb.debian.org/debian bullseye/main amd64 ruby-dev amd64 1:2.7+2 [10.9 kB]
Get:5 https://deb.debian.org/debian bullseye/main amd64 ruby2.7-doc all 2.7.4-1+deb11u1 [2,816 kB]
Fetched 4,641 kB in 1s (8,152 kB/s)
Selecting previously unselected package libgmpxx4ldbl:amd64.
(Reading database ... 100651 files and directories currently installed.)
Preparing to unpack .../libgmpxx4ldbl_2%3a6.2.1+dfsg-1+deb11u1_amd64.deb ...
Unpacking libgmpxx4ldbl:amd64 (2:6.2.1+dfsg-1+deb11u1) ...
Selecting previously unselected package libgmp-dev:amd64.
Preparing to unpack .../libgmp-dev_2%3a6.2.1+dfsg-1+deb11u1_amd64.deb ...
Unpacking libgmp-dev:amd64 (2:6.2.1+dfsg-1+deb11u1) ...
Selecting previously unselected package ruby2.7-dev:amd64.
Preparing to unpack .../ruby2.7-dev_2.7.4-1+deb11u1_amd64.deb ...
Unpacking ruby2.7-dev:amd64 (2.7.4-1+deb11u1) ...
Selecting previously unselected package ruby-dev:amd64.
Preparing to unpack .../ruby-dev_1%3a2.7+2_amd64.deb ...
Unpacking ruby-dev:amd64 (1:2.7+2) ...
Selecting previously unselected package ruby2.7-doc.
Preparing to unpack .../ruby2.7-doc_2.7.4-1+deb11u1_all.deb ...
Unpacking ruby2.7-doc (2.7.4-1+deb11u1) ...
Setting up libgmpxx4ldbl:amd64 (2:6.2.1+dfsg-1+deb11u1) ...
Setting up ruby2.7-doc (2.7.4-1+deb11u1) ...
Setting up libgmp-dev:amd64 (2:6.2.1+dfsg-1+deb11u1) ...
Setting up ruby2.7-dev:amd64 (2.7.4-1+deb11u1) ...
Setting up ruby-dev:amd64 (1:2.7+2) ...
Processing triggers for libc-bin (2.31-13+deb11u6) ...
```

And retried installing racc...

```
~/devel/rfc-camelot-holy-grenade/sources$ sudo gem install racc -v '1.6.2' --source 'https://rubygems.org/'
Building native extensions. This could take a while...
ERROR:  Error installing racc:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.7.0/gems/racc-1.6.2/ext/racc/cparse
/usr/bin/ruby2.7 -I /usr/lib/ruby/vendor_ruby -r ./siteconf20230606-3038-wts5dl.rb extconf.rb
checking for rb_block_call()... *** extconf.rb failed ***
Could not create Makefile due to some reason, probably lack of necessary
libraries and/or headers.  Check the mkmf.log file for more details.  You may
need configuration options.

Provided configuration options:
	--with-opt-dir
	--without-opt-dir
	--with-opt-include
	--without-opt-include=${opt-dir}/include
	--with-opt-lib
	--without-opt-lib=${opt-dir}/lib
	--with-make-prog
	--without-make-prog
	--srcdir=.
	--curdir
	--ruby=/usr/bin/$(RUBY_BASE_NAME)2.7
/usr/lib/ruby/2.7.0/mkmf.rb:471:in `try_do': The compiler failed to generate an executable file. (RuntimeError)
You have to install development tools first.
	from /usr/lib/ruby/2.7.0/mkmf.rb:564:in `try_link0'
	from /usr/lib/ruby/2.7.0/mkmf.rb:582:in `try_link'
	from /usr/lib/ruby/2.7.0/mkmf.rb:794:in `try_func'
	from /usr/lib/ruby/2.7.0/mkmf.rb:1083:in `block in have_func'
	from /usr/lib/ruby/2.7.0/mkmf.rb:971:in `block in checking_for'
	from /usr/lib/ruby/2.7.0/mkmf.rb:361:in `block (2 levels) in postpone'
	from /usr/lib/ruby/2.7.0/mkmf.rb:331:in `open'
	from /usr/lib/ruby/2.7.0/mkmf.rb:361:in `block in postpone'
	from /usr/lib/ruby/2.7.0/mkmf.rb:331:in `open'
	from /usr/lib/ruby/2.7.0/mkmf.rb:357:in `postpone'
	from /usr/lib/ruby/2.7.0/mkmf.rb:970:in `checking_for'
	from /usr/lib/ruby/2.7.0/mkmf.rb:1082:in `have_func'
	from extconf.rb:6:in `<main>'

To see why this extension failed to compile, please check the mkmf.log which can be found here:

  /var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/mkmf.log

extconf failed, exit code 1

Gem files will remain installed in /var/lib/gems/2.7.0/gems/racc-1.6.2 for inspection.
Results logged to /var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/gem_make.out

```

This is the content of the mkmf.log:

```
~/devel/rfc-camelot-holy-grenade/sources$ cat /var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/mkmf.log
"x86_64-linux-gnu-gcc -o conftest -I/usr/include/x86_64-linux-gnu/ruby-2.7.0 -I/usr/include/ruby-2.7.0/ruby/backward -I/usr/include/ruby-2.7.0 -I. -Wdate-time -D_FORTIFY_SOURCE=2   -g -O2 -ffile-prefix-map=/build/ruby2.7-yIh4N9/ruby2.7-2.7.4=. -fstack-protector-strong -Wformat -Werror=format-security -fPIC conftest.c  -L. -L/usr/lib/x86_64-linux-gnu -L. -Wl,-z,relro -Wl,-z,now -fstack-protector-strong -rdynamic -Wl,-export-dynamic     -lruby-2.7  -lm   -lc"
checked program was:
/* begin */
1: #include "ruby.h"
2: 
3: int main(int argc, char **argv)
4: {
5:   return !!argv[argc];
6: }
/* end */

```
Any suggestion to proceed?



@cisba could you please:

1. attach content of /var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/gem_make.out
2. confirm that `make` in installed

This ticket is closed prematurely. Re-opening.

> Ok, that was a straightforward fix: svg is being allowed in Metanorma XML without an image wrapper, and the RFC XML processor had not been updated to cope with that.
> 
> We've just done the fortnightly release; to get this working with the latest, please add this to the Gemfile file at the root of your directory (in an hour, running testing right now):
> 
> `gem "metanorma-ietf", git: "https://github.com/metanorma/metanorma-ietf", branch: "main"`

This does not work with the metanorma-snap package, which requires a full re-release of the snap package.

@CAMOBAP can you please help proceed with that using the newly released version of metanorma-ietf? Thanks.

I tried to compile 3 IETF type examples using the windows setup too:
- [rfc-asciidoc-rfc](https://github.com/metanorma/rfc-asciidoc-rfc)
- [rfc-camelot-holy-grenade](https://github.com/metanorma/rfc-camelot-holy-grenade)
- a template created with "metanorma new prova -d rfc -t ietf"

In all these cases I got errors.
- rfc-asciidoc-rfc fails to compile with error: asciidoctor: FAILED: draft-ribose-asciirfc.adoc: Failed to load AsciiDoc document - incompatible character encodings: UTF-8 and CP850 (Encoding::Compatibi
lityError)
- rfc-camelot-holy-grenade compile but generate many syntax errors and warnings
- new document from template compile but generate many syntax errors and warnings

Few years ago i remember that I started from a minimal exaple working.
Today may document does not compile anymore.
It seem to me that also all the examples are no more compatible with recent metanorma.

The issue is to be assigned to the software metanorma or to the documents?
Should I provide detailed info here?
Or should I open an issue on the github page of any example?

@CAMOBAP do you still need the content of /var/lib/gems/2.7.0/extensions/x86_64-linux/2.7.0/racc-1.6.2/gem_make.out?


@cisba thank you for letting us know! Admittedly we have not been updating the sample documents to the latest version.

Taking heed, our editors shall now update the documents :wink: (ping @metanorma/editors )

For these issues, please file them at the documents so we can keep track of them. Thank you @cisba again for your reports!

@cisba have you seen the documents in https://github.com/metanorma/mn-samples-ietf ? I believe they compile.

@ronaldtse The command "metanorma new prova -d rfc -t ietf" does not use
one of them?

On Wed, Jun 7, 2023, 14:03 Ronald Tse ***@***.***> wrote:

> @cisba <https://github.com/cisba> have you seen the documents in
> https://github.com/metanorma/mn-samples-ietf ? I believe they compile.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/metanorma/metanorma/issues/295#issuecomment-1580668568>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AASHMNYRCPHTMEEC4YZD5PTXKBUXVANCNFSM6AAAAAAYTBWUEU>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


Other detail to point out. 
I have am internet-draft written starting from the old template rfc-asciidoc-rfc with the reference file as below:

```
$ cat rfc-asciidoc-rfc/sections/98-references.adoc 

[bibliography]
== Normative References

//bibliography::norm[]
++++
include::../references/normative/*.xml[]
++++

[bibliography]
== Informative References

//bibliography::info[]
++++
include::../references/informative/*.xml[]
++++
```
It seem that this _automagical_ inclusion is not working anymore... sigh!

Any suggestion?


> It seem that this automagical inclusion is not working anymore... sigh!

I'm afraid that functionality is no longer unavailable. The codebase for rfc-asciidoc-rfc is *completely* different from the codebase for Metanorma, and we could not justify maintaining it independently of Metanorma. Metanorma does have functionality to pass through inline fragments of Metanorma XML, and even of RFC XML— `pass:rfc[<rfcxml-tag>]`; but that functionality does not extend to entire blocks, as would be needed here, let alone to passing through information from an external flag.

Metanorma XML generation is by design decoupled from a target format, since it is intended to be applicable across multiple SDOs, so we're unlikely to restore this. So long as the references invoked are in one of the major SDOs we harvest bibliographic information from, you can include them just by giving the reference code, and having relaton fetch the code (https://www.metanorma.org/author/topics/document-format/bibliography/#autofetch); if you want to enter references from scratch, the most straightforward way to do so is by using `span:[]` to label components of the citation (https://www.metanorma.org/author/topics/document-format/bibliography/#annotated-spans).

> @ronaldtse The command "metanorma new prova -d rfc -t ietf" does not use one of them?

No: a template is empty of content, and those sample documents are populated. The template is not invoked in compiling a populated document. 

Metanorma complains about syntax  errors more than it should, because the grammars tend to be stricter than they should be; but Metanorma is going to complain more about an empty template document than about a populated document, because so much of its content is still missing. 

Getting rid of XML validation errors is something of a Sisyphean task, and I can only suggest you ignore those errors unless the RFC XML completely fails to generate.

@cisba would you be able to provide a sample document on GitHub, such that we can help you make a PR that migrates the old format to the latest format? We're happy to do that. Thanks!

> @cisba would you be able to provide a sample document on GitHub, such that we can help you make a PR that migrates the old format to the latest format? We're happy to do that. Thanks!

This is the document https://github.com/cisba/i-d_dlts
I don't know how to thank you for your help!



Requesting editors to convert the document

Hi @cisba,
Can you try to compile the updates that I've pushed in https://github.com/cisba/i-d_dlts/pull/1?
This version contains the latest markup of Metanorma. Please let me know how it goes in your system.

> Hi @cisba, Can you try to compile the updates that I've pushed in [cisba/i-d_dlts#1](https://github.com/cisba/i-d_dlts/pull/1)? This version contains the latest markup of Metanorma. Please let me know how it goes in your system.

See compilation result in the PR comment

Task is merged in https://github.com/cisba/i-d_dlts/pull/1. Closing.